*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin:0;
  background: linear-gradient(to right,orange,teal);
}

.wrapper{
  width: 30%;
  margin: 0px auto;
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width:900px){
  .wrapper{
    width: 50%;}
}

@media screen and (max-width:600px){
  .wrapper{
    width: 60%;}
}

@media screen and (max-width:400px){
  .wrapper{
    width: 70%;}
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4,6fr);
  grid-template-rows: minmax(7rem,auto) repeat(5,4rem);
  justify-content: center;
  padding: 10px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline:none;
  background-color: rgba(255,255,255,0.75)
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255,255,255,0.90)
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1/-1;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap:break-word;
  word-break: break-all;
 
}

.output .previous-operand{
  color: rgba(255,255,255,0.75);
  font-size: 1.5rem;
}

.output .current-operand{
  color: white;
  font-size: 2.5rem;
}